{
  "processors": [
    "stylelint-processor-styled-components",
    {
      "moduleName": "@reshadow/styled"
    }
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ]
}
